<h1>Recipes</h1>

<% if @Recipes.any? %>
  <ul>
    <% @Recipes.each do |recipe| %>
      <span class="bullet">	&#10149;  </span><%= link_to recipe.title, recipe_path(recipe) %>
      <p>Rated <%= recipe.rating %>⭐️</p>
      <br>
    <% end %>
  </ul>
<% else %>
  <p>There are no Recipes yet.</p>
<% end %>
<p><%= link_to "Ingredients", ingredients_path %></p>
<p><%= link_to "New Recipe", new_recipe_path %></p>
