<h1>Recipes</h1>

<% if @Recipes.any? %>
  <ul>
    <% @Recipes.each do |recipe| %>
      <%= link_to recipe.title, recipe_path(recipe) %>
      <br>
    <% end %>
  </ul>
<% else %>
  <p>There are no Recipes yet.</p>
<% end %>
<p><%= link_to "Ingredients", ingredients_path %></p>
<p><%= link_to "Create new recipe", new_recipe_path %></p>
