<h1>Ingredients</h1>

<% if @Ingredients.any? %>
  <ul>
    <% @Ingredients.each do |ingredient| %>
      <%= link_to ingredient.name, ingredient_path(ingredient) %>
         <p> <%= ingredient.quantity %></p>
      <br>
    <% end %>
  </ul>
<% else %>
  <p>There are no Ingredients yet.</p>
<% end %>
<p><%= link_to "Back to Recipes", recipes_path %></p>

<p><%= link_to "Create new Ingredient", new_ingredient_path %></p>