<!DOCTYPE html>
<html>
  <head>
    <title>RecipeBox</title>
<link href="https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@500;900&display=swap" rel="stylesheet">    <%= csp_meta_tag %>
<%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
